address: localhost:8080
database:
  type: "mongodb"
  endpoints:
  - "mongodb://<user>:<password>@localhost:27017"
  connectTimeout: 10s
  databaseName: "opampcommander"
  ddlAuto: true
management:
  address: localhost:9090
  metric:
    enabled: true
    type: prometheus
    prometheus:
      path: /metrics
    opentelemetry: # unused when type is prometheus
      endpoint: "localhost:4317"
  log:
    level: "info"
    format: "json"
  trace:
    enabled: false
    endpoint: "localhost:4317"
auth:
  enabled: true
  admin:
    username: "admin"
    password: "admin_password"
  jwt:
    issuer: "opampcommander"
    expire: 5m
    secret: "your_jwt_secret"
    audience:
    - "opampcommander"
  type: "oauth2"
  oauth2:
    provider: github
    clientId: "your_client_id"
    clientSecret: "your_client_secret"
    redirectUri: "http://localhost:8080/auth/callback"
    state: # to prevent CSRF attacks
      mode: jwt
      jwt:
        issuer: "opampcommander"
        expire: 5m
        secret: "your_jwt_secret"
        audience:
        - "opampcommander"
event:
  # enabled: Set to false for standalone mode (single server instance)
  # Set to true for distributed mode (multiple server instances with inter-server communication)
  enabled: false
  type: "nats"
  nats:
    endpoint: "nats://localhost:4222"
    subjectPrefix: "prod.opampcommander."
