address: localhost:8080
database:
  type: "mongodb"
  endpoints:
  - "mongodb://localhost:27017"
  connectTimeout: 10s
  databaseName: "opampcommander"
  ddlAuto: true
management:
  address: localhost:9090
  metric:
    enabled: true
    type: prometheus
    prometheus:
      path: /metrics
    opentelemetry: # unused when type is prometheus
      endpoint: "localhost:4317"
  log:
    level: info
    format: text
  trace:
    enabled: true
    endpoint: "localhost:4317"
    protocol: grpc
    sampler: always
    insecure: true
auth:
  enabled: true
  admin:
    username: "admin"
    password: "admin"
  jwt:
    issuer: "opampcommander"
    expire: 5m
    secret: "your_jwt_secret"
    audience:
    - "opampcommander"
  type: "oauth2"
  oauth2:
    provider: github
    clientId: "your_client_id"
    clientSecret: "your_client_secret"
    redirectUri: "http://localhost:8080/auth/callback"
    state: # to prevent CSRF attacks
      mode: jwt
      jwt:
        issuer: "opampcommander"
        expire: 5m
        secret: "your_jwt_secret"
        audience:
        - "opampcommander"
event:
  enabled: false  # Set to false for standalone mode (no inter-server communication)
  type: "nats"
  nats:
    endpoint: "nats://localhost:4222"
    subjectPrefix: "dev.opampcommander."
